.App {
  text-align: center;
  font-family: 'Noto Sans HK', sans-serif;
}

.bg-teal  { background-color: var(--teal) }
.no-outline {
  text-decoration: none;
}

.nav-container {
  background-color: white;
}

.navbar-ul li {
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.navbar-ul li :hover {
  text-decoration: none;
  color: antiquewhite;
}
